@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.mat-mdc-select-panel {
  background-color: white !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
  padding-left: 8px !important;
  padding-right: 4px !important;
}
